@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
  font-family: 'Monda';
  src: url('./assets/fonts/monda.woff') format('woff'),
       url('./assets/fonts/monda.woff2') format('woff2'),
       url('./assets/fonts/monda.otf') format('opentype');
  font-weight: normal;
}

@import "tailwindcss";

@theme {

  /* fonts */
  --font-primary : 'Monda', sans-serif;
  --font-secondary : 'Nunito', sans-serif;

  /* colors */
  --color-primary-blue : #2EFFFF;
  --color-primary-yellow : #E2B714;

  /* backgroud */
  --color-primary-foreground-orange: #FFDDAE;
  --color-primary-secondary-foreground-orange : #f9f1db;

}

:root {
  --font-primary : 'Monda', sans-serif;
  --font-secondary : 'Nunito', sans-serif;
}

body{
  font-family : var(--font-secondary)
}
